aiofiles==25.1.0
deepgram-sdk==5.3.1
dnspython==2.8.0
email-validator==2.3.0
faiss-cpu==1.13.2
fastapi==0.128.0
groq==1.0.0
motor==3.7.1
numpy==2.2.6
openai==2.15.0
pydantic==2.12.5
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.21
twilio==9.9.1
uvicorn==0.40.0
websockets==16.0
sentence-transformers==5.2.2
pymongo==4.16.0
certifi
starlette==0.50.0
sarvamai
razorpay==1.4.2
